.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.moreOutside_box {
display: flex;
justify-content: center;

}
.outside_box {
display: flex;
flex-direction: column;
  align-items: left;
  height: 300px;
  width: 300px;
text-align: left;
  background-color: white;
}

.inside_box {
  border-radius: .5em;
  font-size: 20px;
  height: 3em;
align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  background-color: #033076;
  padding: 10px;
  cursor: pointer;
}

.errorMessage {
  color: red;
  text-transform: uppercase;
}

.submitted-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-icon {
  margin-right: 10px;
}
.text {
    margin: auto;
}